/* Responsive all screen laptop, table, mobile.... */
@media only screen and (min-width: 1279px) {
  .hero__banner {
    max-width: 570px;
    width: 100%;
    margin-left: 50px;
  }
}
@media only screen and (max-width: 1279px) {
  .title h2 {
    font-size: 50px !important;
  }
  .count {
    padding: 40px 0;
  }
  .count__item p:first-of-type {
    font-size: 40px;
  }
  .count__item-icon {
    --size-icon: 72px;
    padding: 14px;
  }
  .features__main {
    align-items: center;
  }
  .features__item:not(:nth-child(9999)) {
    padding: 0 50px 30px 0;
  }
  .features__banner {
    margin-right: unset;
  }
}

@media only screen and (max-width: 1023px) {
  .upTop {
    --size-upTop: 45px;
  }
  .title h2 {
    font-size: 40px !important;
  }
  .title p {
    margin-bottom: unset;
  }
  .btn-gradient {
    padding: 15px 20px;
  }
  .header__content {
    padding-top: 15px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 300px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 9999999;
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .header__menu.active {
    transform: translateX(0);
  }
  .header__menu,
  .header__menu ul,
  .header__bars,
  .header__close {
    display: block;
  }
  .header__close {
    margin-left: auto;
    margin-bottom: 6px;
  }
  .header__content ul li a {
    padding: 20px;
  }
  .hero-main {
    flex-direction: column;
  }
  .hero__content,
  .hero__image {
    width: 100%;
  }
  .hero__content .title h2 {
    font-size: 60px;
  }
  .hero__article i {
    --size-article: 28px;
    font-size: 16px;
  }
  .services__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__main {
    display: block;
  }
  .about__main > * {
    width: 100%;
    text-align: center;
  }
  .about__image {
    position: unset;
  }
  .about__image img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 80%;
    border-radius: 20px;
  }
  .title h2 br {
    display: none;
  }
  .features__main {
    flex-direction: column-reverse;
  }
  .features__image {
    width: 65%;
  }
  .features__content {
    width: 100%;
    margin-top: 20px;
  }
  .features__bg div > * {
    color: white;
  }
  .features__bg img {
    margin-bottom: 12px;
    filter: brightness(0) invert(1);
  }
  .features__bg::after {
    opacity: 1;
  }
  .plan__card {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial__text .testimonial__icon {
    position: unset;
  }
  .footer__bottom {
    padding: 40px 0;
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 767px) {
  .section-inner {
    padding-top: 80px;
  }
  .title h2 {
    font-size: 28px !important;
  }
  .header__logo img {
    max-width: 85%;
  }
  .header__bars {
    width: 36px;
  }
  .hero {
    padding-top: 105px;
  }
  .hero__content ul {
    margin-bottom: 15px;
  }
  .hero__content .title h2 {
    font-size: 35px;
  }
  .hero__content .title p {
    margin-bottom: 5px;
  }
  .hero__content .title p,
  .hero__content li,
  .hero__article p {
    font-size: 16.8px;
  }
  .services__content {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  .about-desc,
  .about__content ul {
    font-size: 14.5px;
  }
  .about__image img {
    max-width: 100%;
  }
  .about__content .about-icon {
    align-items: flex-start;
  }
  .count__main {
    flex-direction: column;
    gap: 24px;
  }
  .count__main > * {
    width: 100%;
  }
  .count__item p:first-of-type {
    font-size: 35px;
  }
  .features__image {
    width: 100%;
  }
  .features__item:not(:nth-child(9999)) {
    padding: 0;
    margin-top: 14px;
    border: 2px solid #e3e3e3;
  }
  .features__bg {
    flex-direction: column;
    color: white;
  }
  .plan__card {
    grid-template-columns: 1fr;
  }
  .plan__item {
    padding: 28px;
  }
  .plan__item h3 {
    font-size: 1.5rem;
  }
  .footer__top {
    padding: 20px;
    display: block;
  }
  .footer__top > * {
    width: 100%;
  }
  .footer__text {
    margin-bottom: 8px;
  }
  .footer__text h2 {
    font-size: 20px;
  }
  .footer__content {
    display: block;
    text-align: center;
  }
  .footer__left {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 424px) {
  .footer__form input {
    padding: 15px;
    font-size: 14px;
  }
  .footer__form button {
    padding: 14px;
    font-size: 15px;
  }
  .footer__bottom {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 374px) {
  .features__bg div > * {
    font-size: 14.8px;
  }
}
